@model IEnumerable<MarvelPhases.Models.Phase>

@{
    ViewBag.Title = "Index";
}
@*Back button*@
<div style="margin: 30px 5px;">
    <a class="backbutton" href="@Url.Action("Home","Phases")">Go Back</a>
    <a class="backbutton" href="@Url.Action("Create","Phases")">New Phase</a>
</div>
<table id="list" align="center">
    <tr>
        <td colspan="6" id="header"><h1>All Phases</h1></td>  @*Header*@
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PhaseName)  @*Column Header*@
        </th>
        <th></th>
    </tr>
    @*Data for Movies*@
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhaseName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

