<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @{
        ViewBag.Title = "Home";
        @Styles.Render("~/Content/Site.css")
        @Styles.Render("~/Content/bootstrap.css")           @*Adding style to the view*@  
        @Scripts.Render("~/bundles/modernizr")
    }
</head>
<body>
    <div class="container">
        <ul class="backgroundslider"> 
            <li></li>                        
            <li></li>
            <li></li>
        </ul>
    </div>
    <div style="text-align: center; font-weight: bold; color: white;">
        <h1>Marvel History</h1>
    </div>
    @*Button Links*@
    <div style="text-align: center; ">
        <a class="button button1" href="@Url.Action("Home","Phases")">Phases</a>
        <a class="button button2" href="@Url.Action("Home","Movies")">Movies</a>
        <a class="button button3" href="@Url.Action("Home","Series")">Series</a>
    </div>
</body>
</html>