@model MarvelPhases.Models.Series

@{
    ViewBag.Title = "Details";
}
<style>
    th {
        padding: 5px;
        text-align: left;     @*Styling table*@
        width: 30%;
    }

    td {
        padding: 5px;
        text-align: left;
    }
</style>
<div>
    @*Table*@
    <table id="list" style="margin: 30px; width: 100%">
        <tr>
            <th colspan="2">
                <h1 style="text-align: center">@Html.DisplayFor(model => model.Title)</h1>    @*Table Header*@
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SeriesNumber)   @*Row Header*@
            </th>
            <td>
                @Html.DisplayFor(model => model.SeriesNumber)  @*Row Data*@
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhaseId)
            </th>
            <td>
                @Html.DisplayFor(model => model.PhaseId)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <td>
                @Html.DisplayFor(model => model.Rating)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TvService)
            </th>
            <td>
                @Html.DisplayFor(model => model.TvService)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
    </table>
    <div style="margin: 30px;">
        <a class="backbutton" href="@Url.Action("Index","Series")">Go Back</a>  @*Back Button*@
    </div>
</div>
