<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel History</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/bootstrap.css")  @*Main Styling*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*Navbar*@
    <nav class="navbar navbar-findcond navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>                
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @*Button Links*@
                @Html.ActionLink("Marvel Phases", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })  
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="@Url.Action("Home","Phases")"><i class="fa fa-fw fa-bell-o"></i> Phases </a>
                    </li>
                    <li class="active"><a href="@Url.Action("Home","Movies")"> Movies <span class="sr-only">(current)</span></a></li>
                    <li class="active">
                        <a href="@Url.Action("Home","Series")">Series</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html> 
