@model MarvelPhases.Models.Movie

@{
    ViewBag.Title = "Create";
}
<div style="margin: 30px;">
    <a class="backbutton" href="@Url.Action("Index","Movies")">Go Back</a>   @*Back Button*@
</div>
<div class="container">
    <div class="wrapper">
        <form action="" method="post" name="Login_Form" class="form-signin">
            <h3 class="form-signin-heading" style="color: rgb(227, 27, 35)">New Movie</h3>   @*Form Header*@
            <hr class="colorgraph" style="background: rgb(227, 27, 35)" )"><br>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Title" } })   @*Text Box*@
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CollectionNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Collection Number" } })   @*Text Box*@
                            @Html.ValidationMessageFor(model => model.CollectionNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PhaseId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phase Number" } })  @*Text Box*@
                            @Html.ValidationMessageFor(model => model.PhaseId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rating (1-10)" } })  @*Text Box*@
                            @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BoxOffice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Box Office (no $, no commas)" } })  @*Text Box*@
                            @Html.ValidationMessageFor(model => model.BoxOffice, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Description, 10, 40, null)  @*MultiLine Text Box*@
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-10"> @*Submit Button*@
                            <input type="submit" value="Create" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            }
        </form>
    </div>
</div>