@model MarvelPhases.Models.Movie

@{
    ViewBag.Title = "Delete";
}
<style>
    th {
        padding: 5px;
        text-align: left;
        width: 30%;
    }

    td {
        padding: 5px;
        text-align: left;
    }
</style>
<div>
    <table id="list" style="margin: 30px; width: 100%">
        <tr>
            <th colspan="2">
                <h1 style="text-align: center">@Html.DisplayFor(model => model.Title)</h1>
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CollectionNumber)
            </th>
            <td>
                @Html.DisplayFor(model => model.CollectionNumber)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhaseId)
            </th>
            <td>
                @Html.DisplayFor(model => model.PhaseId)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <td>
                @Html.DisplayFor(model => model.Rating)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BoxOffice)
            </th>
            <td>
                @Html.DisplayFor(model => model.BoxOffice)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
    </table>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin: 30px;">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            <a class="backbutton" href="@Url.Action("Index","Movies")">Go Back</a>
        </div>
    }
</div>

