@model IEnumerable<MarvelPhases.Models.Movie>

@{
    ViewBag.Title = "Index";
}
<div style="margin: 30px 5px;">
    <a class="backbutton" href="@Url.Action("Home","Movies")">Go Back</a>
    <a class="backbutton" href="@Url.Action("Create","Movies")">New Movie</a>
    @using (Html.BeginForm())
    {
        <p style="text-align: right">
            Find by name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
</div>
<table id="list" align="center">
    <tr>
        <td colspan="6" id="header"><h1>All Movies</h1></td>
    </tr>
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.SortTitle })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollectionNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phase.Id)
        </th>
        <th>
            @Html.ActionLink("Rating", "Index", new { sortOrder = ViewBag.SortRating })
        </th>
        <th>
            @Html.ActionLink("Box Office", "Index", new { sortOrder = ViewBag.SortBoxOffice })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollectionNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phase.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoxOffice);
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

