@model IEnumerable<MarvelPhases.Models.Movie>

@{
    ViewBag.Title = "Index";
}
@*Back button*@
<div style="margin: 30px 5px;">
    <a class="backbutton" href="@Url.Action("Home","Movies")">Go Back</a> 
    @using (Html.BeginForm())
    {
        @*Search Box*@
        <p style="text-align: right">
            Find by name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
</div>
<table id="list" align="center">
    <tr>
        <td colspan="6" id="header"><h1>Movies</h1></td>  @*Header*@
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)  @*Column Header*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollectionNumber)       
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phase.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.BoxOffice)
        </th>
        <th></th>
    </tr>
    @*Data for Movie*@
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollectionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phase.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoxOffice);
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>